

.form-login {
    width: 100%!important;
    max-width: 500px!important;
    margin: auto!important;
    padding: 15px!important;
}


.enter{
    height:100% ;
}

.form-time-table {
    width: 90%;
    margin: auto;
    padding: 15px;
}



